@media screen and (max-width:480px) {
    h2 {
        letter-spacing: 10px;
        padding: 0.5em 0 0;
        color: #fff;
        font-size: 20px;
    }

    .blanket {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        width: 100%;
    }

    .row {
        width: 50%;
    }

    nav {
        width: 10%;
    }

    .peach {
        background-color: #000;
        padding: 0;
    }

    .peach ul {
        display: none;
    }

    span.hidden {
        display: none;
    }

    .menu {
        display: block;
        border: none;
        background-color: #000;
        color: #fff;
    }

    .menu>i {
        font-size: large;
    }

    .menu>ul {
        flex-direction: column;
        width: 150px;
        background-color: white;
        position: absolute;
        right: 0;
        top: 4em;
        display: none;
    }

    .menu:hover+ul {
        display: block;
    }

    .hide-on-mobile {
        display: block !important;
    }

    h1 {
        font-size: 2em;
        padding-top: 1.5em;
        letter-spacing: 3px;
    }

    .underline::after {
        content: '';
        border-bottom: solid 2px white;
        width: 60%;
        position: absolute;
        bottom: 0.2em;
        left: 20%;
    }

    p {
        word-spacing: 0.1em;
        font-size: 7px;
        padding-top: 1em;
        font-weight: bolder;
        letter-spacing: 0.2em;
    }

    .bttn {
        margin-bottom: 0.5em;
    }

    .bttn a {
        width: 15%;
        padding: 0.3em 0.7em;
        font-size: 10px;
    }

    span.try {
        padding: 0.5em;
        margin-right: 0.3em;
    }

    span.try input.click.button {
        margin-left: 0.2em;
    }

    h4 {
        padding-top: 1em;
        font-weight: normal;
        font-size: 20px;
    }

    .blank {
        padding: 0.2em 3em;
        flex-direction: column;
    }

    .blank .peach {
        width: 100%;
        text-align: center;
        padding: 0.4em;
    }

    .blank .peach img {
        width: 100%;
    }

    .blank .peach p {
        padding-top: 5px;
        line-height: 15px;
        font-weight: lighter;
        color: #1e1e1e;
        font-size: 12px;
    }

    .blank .cover {
        width: 100%;
        padding: 0.2em;
    }

    .cover table {
        width: 100%;
        margin-bottom: 2em;
        height: 90px;
        font-size: 10px;
    }

    tr>th:nth-child(2),
    tr>th:nth-child(3),
    tr>th:nth-child(4) {
        padding-top: 2em;
    }

    tr>td:nth-child(2),
    tr>td:nth-child(3),
    tr>td:nth-child(4) {
        padding-bottom: 1.5em;
    }

    tr>th:nth-child(1) {
        padding-top: 0.1em;
    }

    .box {
        flex-direction: column;
    }

    .box img {
        width: 100%;
        padding-bottom: 5px;
    }

    .box img:nth-child(2) {
        padding-left: 0;
    }

    .find {
        font-weight: normal;
        font-size: 20px;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .fix {
        padding: 0 4em;
        flex-direction: column;
    }

    .cloth h3 {
        padding-bottom: 0.1em;
        padding-top: 0.9em;
        font-size: 15px;
    }

    .cloth p {
        line-height: 1.6em;
        padding-top: 0.7em;
        font-size: 12px;
        letter-spacing: normal;
        padding-right: 0.5em;
        margin-left: 0px;
    }

    .con {
        padding: 1em 3em;
        text-align: center;
    }

    .con h2 {
        padding: 0.2em;
        font-size: 17px;
        letter-spacing: 1px;
        word-spacing: normal;
        line-height: 20px;
    }

    .con p {
        line-height: 1.5em;
        padding: 0.8em 0.2em;
        font-size: 14px;
    }

    .con .btn {
        width: 30%;
        font-size: 10px;
        margin-left: 0.3em;
    }

    .testimony h2 {
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 0.1em;
    }

    .testimony figure img {
        width: 65px;
        height: 65px;
    }

    .testimony p {
        padding: 0.5em 4.5em;
        font-weight: lighter;
        font-size: 14px;
    }

    p.last {
        color: rgb(245, 90, 33);
        font-weight: bolder;
    }

    .testimony .click {
        padding: 0.5em;
        width: 100%;
    }

    .click input.click.button {
        width: 2%;
    }

    p.our {
        font-size: 20px;
        padding-top: 1em;
        padding-bottom: 0;
    }

    .punch {
        width: 100%;
        flex-direction: column;
    }

    .pic {
        height: 180px;
        width: 120px;
    }

    .yellow {
        padding: 5px;
        font-size: 10px;
        margin: 0px 3px 3px;
    }

    .transparent p {
        font-size: 15px;
    }

    .info {
        font-size: 20px;
        letter-spacing: normal;
        font-weight: lighter;
        padding: 0.5em;
    }

    form {
        padding-bottom: 1em;
    }

    .form-control {
        padding: 0.3em 0.9em 0.3em 0.1em;
        margin: 0.1em;
        font-weight: bolder;
        font-size: 9px;
        width: 34%;
    }

    .control {
        padding: 0.3em 0.9em;
        font-size: 10px;
    }

    .container section.final {
        text-align: start;
        flex-direction: column;
    }

    ul p {
        letter-spacing: normal;
        font-weight: lighter;
        line-height: 13px;
        font-size: 10px;
        padding-right: 4em;
        color: #838080;
    }

    .final .box {
        min-height: 0;
        font-size: 10px;
    }

    .lh {
        line-height: 25px;
    }

    section.final .box ul>li:first-child {
        padding-bottom: 0.3em;
        font-weight: lighter;
        font-size: 10px;
        letter-spacing: 1px;
    }
}


@media screen and (min-width:481px) and (max-width:800px) {

    .blanket {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        width: 100%;
    }

    .row {
        width: 50%;
    }

    nav {
        width: 15%;
    }

    .peach {
        background-color: #000;
        padding: 0;
    }

    .peach ul {
        display: none;
    }

    span.hidden {
        display: none;
    }

    .menu {
        display: block;
        border: none;
        background-color: #000;
        color: #fff;
    }

    .menu>i {
        font-size: large;
    }

    .hide-on-mobile {
        display: block !important;
    }

    h2 {
        letter-spacing: 0.4em;
        padding: 0.5em;
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
        padding-top: 1em;
        letter-spacing: 3px;
    }

    .underline::after {
        content: '';
        border-bottom: solid 2px white;
        height: 3px;
        width: 60%;
        position: absolute;
        bottom: 0.2em;
        left: 20%;
    }

    p {
        word-spacing: 0.1em;
        text-align: center;
        font-size: 9px;
        padding-top: 1em;
        font-weight: bolder;
        letter-spacing: 0.2em;
    }

    .bttn {
        margin-bottom: 1.5em;
    }

    .bttn a {
        text-decoration: none;
        width: 20%;
        color: #000;
        padding: 0.3em 0.7em;
        font-size: 0.7em;
        font-weight: bolder;
        background-color: #f9b506;
    }

    span.try {
        padding: 0.5em;
        margin-right: 0.3em;
    }

    span.try input.click.button {
        margin-left: 0.2em;
        width: 1%;
    }

    h4 {
        text-align: center;
        padding-top: 1em;
        color: #000;
        letter-spacing: 2px;
        font-weight: normal;
        font-size: 1.5em;
    }

    .blank {
        padding: 0.2em 3em;
        flex-direction: column;
        width: 85%;
    }

    .blank .peach {
        width: 100%;
        text-align: center;
        padding: 0.4em;
    }

    .blank .peach img {
        width: 100%;
    }

    .blank .peach p {
        padding-top: 5px;
        line-height: 20px;
        color: #0a0a0a;
        font-size: 13px;
        font-weight: lighter;
    }

    .blank .cover {
        width: 100%;
        padding: 0.2em;
    }

    .cover table {
        width: 100%;
        margin-bottom: 2em;
        height: 100px;
        font-size: 13px;
    }

    tr>th:nth-child(2),
    tr>th:nth-child(3),
    tr>th:nth-child(4) {
        padding-top: 2em;
    }

    tr>td:nth-child(2),
    tr>td:nth-child(3),
    tr>td:nth-child(4) {
        padding-bottom: 1.5em;
    }

    tr>th:nth-child(1) {
        padding-top: 0.1em;
    }

    .box {
        flex-direction: column;
    }

    .box img {
        width: 100%;
        padding-bottom: 5px;
    }

    .box img:nth-child(2) {
        padding-left: 0;
    }

    .find {
        font-weight: normal;
        font-size: 1.3em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .fix {
        padding: 0 4em;
        flex-direction: column;
    }

    .cloth h3 {
        padding-bottom: 0.1em;
        padding-top: 0.9em;
        font-size: 15px;
    }

    .cloth p {
        line-height: 1.6em;
        padding-top: 0.7em;
        font-size: 15px;
        letter-spacing: normal;
        padding-right: 0.5em;
        margin-left: 0px;
    }

    .con {
        padding: 1em 4em;
    }

    .con h2 {
        padding: 0.5em 1.8em;
        font-size: 1em;
        letter-spacing: 0.2em;
        word-spacing: 0.2em;
        line-height: 1.5em;
    }

    .con p {
        font-size: 14px;
        line-height: 1.5em;
        padding: 1em 2em;
    }

    .con .btn {
        padding: 0.5em;
        width: 20%;
        font-size: 10px;
        margin-left: 2.6em;
    }

    .testimony .click {
        padding: 0.5em;
    }

    .click input.click.button {
        width: 1%;
    }

    .testimony h2 {
        padding: 1em;
        font-size: large;
        letter-spacing: 0.2em;
    }


    .testimony figure img {
        border-radius: 50%;
        border: 1px solid #000;
        width: 70px;
        height: 70px;
        text-align: center;
    }

    .testimony p {
        font-size: 13px;
        color: rgb(114, 112, 112);
        padding: 0.6em 5em;
    }

    p.last {
        color: rgb(245, 90, 33);
        font-weight: bolder;
    }

    p.our {
        font-size: 25px;
        padding-top: 1em;
    }

    .punch {
        width: 100%;
        flex-direction: column;
    }

    .pic {
        height: 230px;
        width: 170px;
    }

    .yellow {
        padding: 7px;
        font-size: 10px;
    }

    .transparent p {
        font-size: 15px;
    }

    .info {
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: bolder;
        padding: 0.7em;
    }

    form {
        text-align: center;
        padding-bottom: 1em;
    }

    .form-control {
        padding: 0.3em 0.9em 0.3em 0.4em;
        margin: 0.1em;
        font-weight: bolder;
        font-size: 12px;
        width: 40%;
    }

    .control {
        padding: 0.3em 0.9em;
        font-size: 12px;
    }

    .container section.final {
        padding: 1em 6em 2em 6em;
        text-align: start;
        line-height: 17px;
        font-size: 0.5em;
    }

    ul p {
        letter-spacing: normal;
        font-weight: lighter;
        line-height: 25px;
        font-size: 12px;
        padding-right: 5.5em;
        color: #838080;
    }

    .final .box {
        font-size: 12px;
        min-height: 300px;
    }

    section.final .box ul>li:first-child {
        padding-bottom: 0.3em;
        font-weight: lighter;
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width:801px) and (max-width:1024px) {
    .blanket {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
    }

    .row {
        width: 55%;
    }

    nav {
        width: 25%;
    }

    .peach {
        background-color: #000;
        padding: 0;
    }

    .peach ul {
        display: none;
    }

    span.hidden {
        display: none;
    }

    .menu {
        display: block;
        border: none;
        background-color: #000;
        color: #fff;
    }

    .menu>i {
        font-size: large;
    }

    .hide-on-mobile {
        display: block !important;
    }

    h2 {
        letter-spacing: 0.4em;
        padding: 0.5em;
        font-size: 25px;
    }

    h1 {
        font-size: 85px;
        padding-top: 1em;
        letter-spacing: 3px;
    }

    .underline::after {
        content: '';
        border-bottom: solid 4px white;
        height: 3px;
        width: 60%;
        position: absolute;
        bottom: 0.2em;
        left: 20%;
    }

    p {
        word-spacing: 0.1em;
        text-align: center;
        font-size: 13px;
        padding-top: 1em;
        font-weight: bolder;
        letter-spacing: 0.2em;
    }

    .bttn {
        margin-bottom: 1.5em;
    }

    .bttn a {
        text-decoration: none;
        width: 20%;
        color: #000;
        padding: 0.3em 0.7em;
        font-size: 15px;
        font-weight: bolder;
        background-color: #f9b506;
    }

    span.try {
        padding: 0.5em;
        margin-right: 0.3em;
    }

    span.try input.click.button {
        margin-left: 0.2em;
        width: 1%;
    }

    h4 {
        text-align: center;
        padding-top: 1em;
        color: #000;
        letter-spacing: 5px;
        font-weight: bolder;
        font-size: 1.5em;
    }

    .blank {
        padding: 0.2em 3em;
        flex-direction: column;
        width: 85%;
    }

    .blank .peach {
        width: 100%;
        text-align: center;
        padding: 0.4em;
    }

    .blank .peach img {
        width: 100%;
    }

    .blank .peach p {
        padding-top: 5px;
        line-height: 25px;
        color: #2e2e2e;
        font-size: 16px;
    }

    .blank .cover {
        width: 100%;
        padding: 0.2em;
    }

    .cover table {
        width: 100%;
        margin-bottom: 2em;
        height: 120px;
        font-size: 15px;
    }

    tr>th:nth-child(2),
    tr>th:nth-child(3),
    tr>th:nth-child(4) {
        padding-top: 2em;
    }

    tr>td:nth-child(2),
    tr>td:nth-child(3),
    tr>td:nth-child(4) {
        padding-bottom: 1.5em;
    }

    tr>th:nth-child(1) {
        padding-top: 0.1em;
    }

    .box img {
        width: 50%;
    }

    .box img:nth-child(2) {
        padding-left: 0.2em;
    }

    .find {
        font-weight: bolder;
        font-size: 25px;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .fix {
        padding: 0 4em;
        flex-direction: column;
    }

    .cloth h3 {
        padding-bottom: 0.1em;
        padding-top: 0.9em;
        font-size: 22px;
        color: #000;
    }

    .cloth p {
        line-height: 1.6em;
        padding-top: 0.7em;
        font-size: 19px;
        color: #2e2e2e;
        letter-spacing: normal;
        padding-right: 0.5em;
        margin-left: 0px;
    }

    .con {
        padding: 1em 10em;
    }

    .con h2 {
        padding: 0.5em 1.8em;
        font-size: 22px;
        letter-spacing: 5px;
        word-spacing: 0.2em;
        line-height: 1.5em;
    }

    .con p {
        font-size: 18px;
        line-height: 1.5em;
        padding: 1em 2.3em;
    }

    .con .btn {
        padding: 0.5em;
        width: 20%;
        font-size: 13px;
        margin-left: 2.6em;
    }

    .testimony .click {
        padding: 0.5em;
    }

    .click input.click.button {
        width: 1%;
    }

    .testimony h2 {
        padding: 1em;
        font-size: 25px;
        letter-spacing: 0.2em;
    }


    .testimony figure img {
        border-radius: 50%;
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        text-align: center;
    }

    .testimony p {
        font-size: 16px;
        color: rgb(70, 68, 68);
        padding: 0.6em 10em;
    }

    .testimony b {
        font-size: 18px;
    }

    p.last {
        color: rgb(245, 90, 33);
        font-weight: bolder;
    }

    p.our {
        font-size: 25px;
        padding-top: 1em;
    }

    .punch {
        width: 100%;
        flex-direction: column;
    }

    .pic {
        height: 275px;
        width: 235px;
    }

    .yellow {
        padding: 7px;
        font-size: 15px;
    }

    .transparent p {
        font-size: 21px;
    }

    .info {
        font-size: 25px;
        letter-spacing: 4px;
        font-weight: bolder;
        padding: 0.7em;
    }

    form {
        text-align: center;
        padding-bottom: 1em;
    }

    .form-control {
        padding: 0.3em 0.9em 0.3em 0.4em;
        margin: 0.1em;
        font-weight: normal;
        font-size: 18px;
        width: 40%;
    }

    .control {
        padding: 0.3em 0.9em;
        font-size: 18px;
    }

    .container section.final {
        padding: 1em 6em 2em 6em;
        text-align: start;
        line-height: 17px;
        font-size: 0.5em;
    }

    ul p {
        letter-spacing: normal;
        font-weight: lighter;
        line-height: 25px;
        font-size: 15px;
        padding-right: 7.5em;
        color: #838080;
    }

    .final .box {
        font-size: 15px;
        min-height: 300px;
    }

    section.final .box ul>li:first-child {
        padding-bottom: 0.3em;
        font-weight: lighter;
        font-size: 20px;
        letter-spacing: 1px;
    }
}