* {
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: cursive;
}

body {
    margin: 0px;
}

.container {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;

}

table {
    width: 100%;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

tr {
    border: none;
}

th{
    border: none;
}

td {
    width: 80px;
    height: 95px;
    border: none;
}

tr:nth-child(1)>td:nth-child(3),
tr:nth-child(1)>td:nth-child(5),
tr:nth-child(1)>td:nth-child(7),
tr:nth-child(1)>td:nth-child(9) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(2)>td:nth-child(2),
tr:nth-child(2)>td:nth-child(4),
tr:nth-child(2)>td:nth-child(6),
tr:nth-child(2)>td:nth-child(8){
    background-color: rgb(235, 28, 62);
}

tr:nth-child(3)>td:nth-child(3),
tr:nth-child(3)>td:nth-child(5),
tr:nth-child(3)>td:nth-child(7),
tr:nth-child(3)>td:nth-child(9) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(4)>td:nth-child(2),
tr:nth-child(4)>td:nth-child(4),
tr:nth-child(4)>td:nth-child(6),
tr:nth-child(4)>td:nth-child(8) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(5)>td:nth-child(3),
tr:nth-child(5)>td:nth-child(5),
tr:nth-child(5)>td:nth-child(7),
tr:nth-child(5)>td:nth-child(9) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(6)>td:nth-child(2),
tr:nth-child(6)>td:nth-child(4),
tr:nth-child(6)>td:nth-child(6),
tr:nth-child(6)>td:nth-child(8) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(7)>td:nth-child(3),
tr:nth-child(7)>td:nth-child(5),
tr:nth-child(7)>td:nth-child(7),
tr:nth-child(7)>td:nth-child(9) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(8)>td:nth-child(2),
tr:nth-child(8)>td:nth-child(4),
tr:nth-child(8)>td:nth-child(6),
tr:nth-child(8)>td:nth-child(8) {
    background-color: rgb(235, 28, 62);
}

tr:nth-child(8)>td:nth-child(9){
    font-size: 10px;
    font-weight: bolder;
}

tr:nth-child(1)>td:nth-child(2),
tr:nth-child(2)>td:nth-child(2),
tr:nth-child(3)>td:nth-child(2),
tr:nth-child(4)>td:nth-child(2),
tr:nth-child(5)>td:nth-child(2),
tr:nth-child(6)>td:nth-child(2),
tr:nth-child(7)>td:nth-child(2),
tr:nth-child(8)>td:nth-child(2){
    border-left: 3px solid rgb(235, 28, 62);
}

tr:nth-child(1)>td:nth-child(2),
tr:nth-child(1)>td:nth-child(3),
tr:nth-child(1)>td:nth-child(4),
tr:nth-child(1)>td:nth-child(5),
tr:nth-child(1)>td:nth-child(6),
tr:nth-child(1)>td:nth-child(7),
tr:nth-child(1)>td:nth-child(8),
tr:nth-child(1)>td:nth-child(9){
    border-top: 3px solid rgb(235, 28, 62);
}

tr:nth-child(1)>td:nth-child(9),
tr:nth-child(2)>td:nth-child(9),
tr:nth-child(3)>td:nth-child(9),
tr:nth-child(4)>td:nth-child(9),
tr:nth-child(5)>td:nth-child(9),
tr:nth-child(6)>td:nth-child(9),
tr:nth-child(7)>td:nth-child(9),
tr:nth-child(8)>td:nth-child(9){
    border-right: 3px solid rgb(235, 28, 62);
}

tr:nth-child(8)>td:nth-child(2),
tr:nth-child(8)>td:nth-child(3),
tr:nth-child(8)>td:nth-child(4),
tr:nth-child(8)>td:nth-child(5),
tr:nth-child(8)>td:nth-child(6),
tr:nth-child(8)>td:nth-child(7),
tr:nth-child(8)>td:nth-child(8),
tr:nth-child(8)>td:nth-child(9) {
    border-bottom: 3px solid rgb(235, 28, 62);
}